
body{

    font-family: sans-serif;
    background-color: rgb(181, 181, 218);
    text-align: center;
    min-height: 50px;
}


h2{
    height: 20px;
    font-size: 40px;
    text-align: center;
}






#tsk{
    color: blue;
    border: 2px solid black;
    }